@{
    ViewData["Title"] = "Home Page";
}

 <section id="about" class="about" style="margin-top:20vh">
   <div class="container">
        <div class="row">

            <div class="col-xl-6 col-lg-4 pt-5 pt-lg-0" style=" padding-right:4vw">
                <h3 data-aos="fade-up" style="color:darkblue;font-weight:400">Forget Busy Work,<br /> Start Next Vacation</h3>
                <p data-aos="fade-up">
                    We provide what you need to enjoy your<br /> holiday with Family.Time to make another<br /> memorable moment.
                </p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Show me Now</button>
                </p>
                <div class="icon-box">



                    <div style="display:flex;justify-content:space-between;">

                        <div>
                            <span>
                                <img src="https://sodiq.blob.core.windows.net/hotel/ic_traveler(1)1.svg" class="img-fluid" alt="travel">
                                    <br />
                                <small><b>80,409</b> travellers</small>
                            </span>

                        </div>

                        <div>
                            <span style="margin-right:3vw">
                                <img src="./Images/ic_treasure 1.svg" class="img-fluid" alt="treasures"><br />
                                <small><b>862</b> treasures</small>
                            </span>
                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="./Images/ic_cities 1.svg" class="img-fluid" alt="location"><br />
                                <small><b>1,482</b>cities</small>
                            </span>
                        </div>



                    </div>
                </div>

            </div>

            <div class="col-xl-6 col-lg-6" data-aos="fade-right" style="padding-left:4vw">
                <img src="https://sodiq.blob.core.windows.net/hotel/picture.svg" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
            </div>

        </div>
   </div>
 </section>

<!-- ======= Most picks ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Most Picks</h4>
            </div>
        </div>

        <div style="display:flex;flex-direction:row;justify-content:space-around">

            <div style="position:relative;" col-4>
                <img src="./Images/featured.svg" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                <span style="position:absolute; bottom:10px; left:10px; background-color:white; padding:5px 10px; border-radius:10px; color:black; font-weight:bold;">Blue Origin Fams, Jakarta,Indonesia</span>
            </div>

            <div class="row no-gutters col-8">
                <div class="col-lg-6 col-md-6" data-aos="fade-in">
                    <div style="position:relative;">
                        <img src="./Images/featured (1).svg" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                        <span style="position:absolute; bottom:10px; left:10px; background-color:white; padding:5px 10px; border-radius:10px; color:black; font-weight:bold;">Ocean Land, Bandung, Indonesia</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6" data-aos="fade-in">
                    <div style="position:relative;">
                        <img src="./Images/featured (2).svg" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                        <span style="position:absolute; bottom:10px; left:10px; background-color:white; padding:5px 10px; border-radius:10px; color:black; font-weight:bold;">Stark House, Malang, Indonesia.</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6" data-aos="fade-in">
                    <div style="position:relative;">
                        <img src="./Images/featured (3).svg" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                        <span style="position:absolute; bottom:10px; left:10px; background-color:white; padding:5px 10px; border-radius:10px; color:black; font-weight:bold;">Vinna Vill, Malang, Indonesia</span>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6" data-aos="fade-in">
                    <div style="position:relative;">
                        <img src="./Images/featured (4).svg" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                        <span style="position:absolute; bottom:10px; left:10px; background-color:white; padding:5px 10px; border-radius:10px; color:black; font-weight:bold;">Bobox, Medan, Indonesia</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Most Picks -->
<!-- ======= Houses with beauty Backyards ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Houses with beautiful Backyards</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">
                <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                    <div style="position:relative;">
                        <img src="./Images/Rectangle 3.svg" class="img-fluid" alt="" style="border-radius:20px;height:50vh;width:100vw;" data-aos="fade-in">
                        <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">Popular choice</span>
                    </div>
                    <h6>Tabby Town</h6>
                    <p>Gunung Batu, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                    <img src="./Images/Rectangle 3 (1).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>Anganna</h6>
                    <p>Bogor, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-left" data-aos-delay="100">
                    <img src="./Images/Rectangle 3 (2).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>Seattle Rain</h6>
                    <p>Jakarta, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="./Images/Rectangle 3 (3).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>Wooden Pit</h6>
                    <p>Wonosoba, Indonesia</p>
                </div>

            </div>


        </div>

    </div>
</section><!-- End Houses with beauty Backyards -->


<!-- ======= Hotels with large living rooms ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Hotels with large living rooms</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">


                <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                    <img src="./Images/Rectangle 3 (4).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>Green Park</h6>
                    <p>Tangarang, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-left" data-aos-delay="100">
                    <img src="./Images/pic (1).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>Podo Wae</h6>
                    <p>Padiun, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="./Images/Rectangle 3 (5).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>Silver Rain</h6>
                    <p>Bandung, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                    <div style="position:relative;">
                        <img src="./Images/pic (2).svg" class="img-fluid" alt="" style="border-radius:20px;height:50vh;width:100vw;" data-aos="fade-in">
                        <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">Popular choice</span>
                    </div>
                    <h6>Cashville</h6>
                    <p>Kemang, Indonesia</p>
                </div>

            </div>


        </div>

    </div>
</section>

<!-- Hotels with large living rooms -->
<!-- =======  Apartments with Kitchen set ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Apartments with Kitchen set</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">

                <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                    <img src="./Images/item (1).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>PS Wood</h6>
                    <p>Depok, Indonesia</p>
                </div>

                <div class="col-lg-3 col-md-6 " data-aos="fade-left" data-aos-delay="100">
                    <img src="./Images/pic (3).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>One Five</h6>
                    <p>Jakarta, Indonesia</p>
                </div>


                <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                    <div style="position:relative;">
                        <img src="./Images/pic (4).svg" class="img-fluid" alt="" style="border-radius:20px;height:50vh;width:100vw;" data-aos="fade-in">
                        <span style="position:absolute; top:10px; right:10px; background-color:deeppink; padding:5px 10px; border-radius:10px; color:white; font-weight:bold;">Popular choice</span>
                    </div>
                    <h6>Minimal </h6>
                    <p>Bogor, Indonesia</p>
                </div>


                <div class="col-lg-3 col-md-6" data-aos="fade-right" data-aos-delay="100">
                    <img src="./Images/pic (5).svg" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:50vh;width:200vw;" data-aos="fade-in">
                    <h6>Stays Home</h6>
                    <p>Wonosoba, Indonesia</p>
                </div>


            </div>


        </div>

    </div>
</section>

<!-- Apartments with Kitchen set -->

<section id="about" class="about" style="margin-top:20vh">
    <div class="container">


        <div class="row">


            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="./Images/foto_keluarga.svg" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
            </div>


            <div class="col-xl-6 col-lg-2 pt-5 pt-lg-0">

                <h5 data-aos="fade-up" style="color:darkblue;">Happy Family</h5>
                <img src="./Images/Group 1.svg" class="img-fluid" alt="" width="inherit" height="inherit" data-aos="fade-in">

                <h3 data-aos="fade-up" style="color:darkblue;font-weight:400">What a great trip with my family and<br />I should try again next time soon ...</h3>
                <p>Anggar, Product Manager</p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Read their story</button>
                </p>



            </div>



        </div>

    </div>
</section><!-- End About Section -->
